<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    Eliminar Super Heroes <br>
    <hr>
    
    <form method="POST">
        {% csrf_token %}
        Id Super Heroe:<input type="text" name="txtId" value="{{id}}"/>
        <button type="submit" name="btnOK" value="BU">Eliminar</button> <br>
        {{mensaje}} <br> {{codigo}}
        {% if estado == 1%}
            <button type="submit" name="btnOK" value="OK">Confirmo Eliminacion</button>
        {% endif %}
    </form>
</body>

</html>